body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input, form select, form textarea, form button {
    display: block;
    width: 98%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

@media print {
    body {
        font-size: 12px;
        color: #000;
        background: none;
    }
    button, form {
        display: none; /* Sembunyikan tombol dan formulir saat mencetak */
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid #000;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    h1, h2 {
        text-align: center;
        margin-bottom: 10px;
    }
}
